.mynavclass {
    border-bottom: 1px solid darkslategray;
    font-family: monospace;
    background-color: aliceblue;
}
.btn-container {
    background-color: aliceblue;
    justify-content: flex-start;
    


}
.btn {
    background-color: aliceblue;
}
.btn:hover {
    background-color: rgb(239, 240, 241);

}
.navbar-brand {
    padding-left: 2%;
    color: darkslategray;
}
.patients-btn:hover {
    color: black
} 
