<nav class="navbar navbar-default mynavclass">
    <div class="container-fluid c2">
        <div class="navbar-header">
            <div class="navbar">
                <a class="navbar-brand" href="#"><img id="logo" class="img-thumbnail" src="../../assets/python-png.png" alt=""></a>
                <a href="#" class="navbar-brand patients-btn"><u>Patients</u></a>
            </div>
        </div>
        <div class="navbar">
            <div class="nav-item"> Login </div>
            <div class="nav-item">Profile</div>
        </div>
    </div>
</nav>
